#container{
	background-color: #cbaaff;
	text-align: center;	
	display: flex;
	flex-direction: column;
	
}
#forms{
	display: inline-block;	
}
#form1{
	display: inline-block;	
}
#form2{
	text-align: center;
}
table{
	font-size: 18pt;
	margin-right: auto;
	margin-left: auto;
}
/*input{
	margin: 2em;
}*/
tr,td{
	border: .2em solid black;
}
label{
	font-size: 14pt;
}
.genChk1{
  	width: 100%;
}
.genChk2{
	width: 100%;
}
li{
	display: inline-block;
	width: 25%;
}
#newBtn{
	margin: 1.5em;
}


